body {
	color: #fff;
	padding: 20px;
	background: url(https://upload.wikimedia.org/wikipedia/commons/7/73/The_Milky_Way_and_Andromeda_Galaxies.jpg);
	background-size: 100% 100%;
}
.planets, .explored, .craft, .stars, .age, .dwarfs {
	background: #3e3e3e;
	border-radius: 50%;
	box-shadow:  5px 5px 10px #888888;
	text-align: center;
	height: 35px;
	line-height: 38px;
	font-size: .9em;
}
p {
	margin-left: 20px;
}