<h1>Movie search return</h1>
{{#each Search}}
<section>
  <header class='movie-title'>
    <h1>{{Title}} ({{Year}})</h1>
  </header>
  <button class='addBtn'>Add Movie</button>
  <button class='watchedBtn'>Seen it!</button>
</section>
{{/each}}