body {
	color: #fff;
	padding: 20px;
	background: url(https://upload.wikimedia.org/wikipedia/commons/7/73/The_Milky_Way_and_Andromeda_Galaxies.jpg);
	background-size: 100% 100%;
}
.planets, .explored, .craft, .stars, .age, .dwarfs {
	background: #7e7e7e;
}
p {
	margin-left: 20px;
}