body{
	background: #f3f3f3;
}
form {
	font-family: arial;
}
fieldset {
	background:#e5e5e5;
	border:1px solid #888;
	border-radius: 5px;
	margin: 10px;
}
legend {
	color:#fff;
	background:#b2b2b2;
  padding: 0.2em 0.5em;
  margin: 5px;
  border:1px solid #888;
  border-radius: 5px 5px 0 0;
  font-size:90%;
  }
input[type="text"], input[type="email"], input[type="phone"], textarea {
	box-shadow: 0 2px 5px #888;
	border-radius: 5px;
	padding: 3px;
	margin: 5px 0;
	display: block;
}
input[type="number"] {
	width: 162px;
	border-radius: 5px;
	padding: 3px;
	margin: 5px 0;
	display: block;
	box-shadow: 0 2px 5px #888;
}
#personalInformation, #employerInformation {
	display: inline-block;
	width: 45%;
}
#loanLeft, #loanMiddle, #loanRight {
	display: inline-block;
	width: 30%;
}