@model IEnumerable<string>

@{
    ViewBag.Title = "About";
    ViewBag.Byline = "Here we are, there we were!";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h5>@ViewBag.Byline</h5>

<p>Use this area to provide additional information.</p>

<ul>
    @foreach (var item in ViewBag.ListData as IEnumerable<string>)
    {
        <li>@item</li>
    }
</ul>