<div id="add">
  <header class='song-title'>
    <h1>Add a song...</h1>
  </header>
  <label>Song title</label>
  <input type="text">
  <label>Artist</label>
  <input type="text">
  <label>Album</label>
  <input type="text">
  <label>Year</label>
  <input type="text">
</div>