{{#each song}}
  <section>
    <header class='song-title'>
      <h1>{{title}}</h1>
    </header>
    <ul>
      <li>{{artist}}</li>
      <li>{{album}}</li>
      <li>{{year}}</li>
      <li><button class='deletebtn'>x</button></li>
    </ul>
  </section>
{{/each}}