<div class="row filter">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Filter by Year
      <span class="caret"></span>
    </button>
    <ul id="yearFilt" class="dropdown-menu" aria-labelledby="dropdownMenu1">
      {{#each Year}}
        <li><a href="#" class="year">{{[]}}</a></li>
      {{/each}}
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Filter by Actor
      <span class="caret"></span>
    </button>
    <ul id="actorFilt" class="dropdown-menu" aria-labelledby="dropdownMenu1">
      {{#each Actors}}
        <li><a href="#" class="actors">{{[]}}</a></li>
      {{/each}}
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Filter by Rating
      <span class="caret"></span>
    </button>
    <ul id="ratingFilt" class="dropdown-menu" aria-labelledby="dropdownMenu1">
      {{#each Rating}}
        <li><a href="#" class="rating">{{[]}}</a></li>
      {{/each}}
    </ul>
  </div>
  <input class="btn btn-default resetBtn" type="button" name="reset" value="Reset Filter">
</div>