
#wrapper {
  max-width: 1000px;
  margin: 0 auto;
  font-family: arial;
}
#navWrapper {
  width: 100%;
}
#nav {
  background: #FFB4B0;
  border: solid 3px black;
  margin-bottom: 20px;
  margin-top: 30px;
}
#contentWrapper{
  position: relative;
  width: 100%;
  overflow: hidden;
}
#nav > ul > li {
  display: inline;
  font-size: 1em;
  border-right: solid black 3px;
  padding-right: 5px;
}
#nav > ul > li:last-child {
  border-right: none;
}
#filter {
  background: #4DD7FA;
  max-width: 200px;
  border: solid black 3px;
  margin-right: 10px;
  padding: 10px;
}
input[type="range"] {
  -webkit-appearance: none !important;
  height: 5px;
  width: 100%;
  margin: 20px 0;
 }
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  position: relative;
  width: 21px;
  height: 21px;
  background: lightgrey;
  border-radius: 50%;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  border: solid black 3px;
  top: -6px;
 }
 input[type="range"]:focus::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  outline: none !important;
 }
 input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none !important;
  width: 100%;
  height: 12px;
  cursor: pointer;
  background: #AAA;
  border-radius: 20px;
  border: 3px solid black;
}
input[type=range]::-webkit-slider-runnable-track:after {
  -webkit-appearance: !important;
  background: #FFF;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  -webkit-appearance: none !important;
  outline: none !important;
}
select {
  border: solid black 3px;
  border-radius: 5px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
}
input[type=checkbox] {
  outline: solid black 3px;
  margin: 10px 5px;
  width: 17px;
  height: 17px;
}
#filterBtn {
  margin: 20px auto 5px;
  width: 120px;
  border: solid black 3px;
  border-radius: 7px;
  height: 30px;
}
#content {
  background: #FEFAC0;
  border: solid black 3px;
  margin-left: 243px;
}
#content header {
  font-family: helvetica;
  font-size: 1.3em;
  padding-left: 40px;
  color: #785616;
}
#content section li {
  display: inline;
  font-family: arial;
  font-size: .9em;
  border-right: solid black 1px;
  padding: 0 10px;
}
#content section li:first-child {
  padding-left: 0;
}
#content section li:last-child {
  border-right: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}